@import 'https://fonts.googleapis.com/css?family=Kanit';
body {
 background-color: #000;
}
 .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  background: #287025;
}
.navbar-default {
  background-color: #2B6229;
  border-color: #2B6229;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2B6229;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #2B6229;
}
.col-md-3 {
  padding-left: 0px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  background-color: #fff;
  border-radius: 0px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 5px;
    white-space: nowrap;
}
.logo {
  background-color: #fff;
}
.logo img {
  margin-left: 2%;
}
.box-mainweb {
background-color:#E9EBEE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
}
.blog-news {
  margin-top: 20px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
   border: 1px solid #e3e3e3;
   margin-bottom: 10px;
  min-height: 100px;
  padding-left: 5px;
  padding-top: 5px;
}
.gallery {
  margin-top: 5px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
   border: 1px solid #e3e3e3;
   margin-bottom: 10px;
  min-height: 100px;
  padding-left: 5px;
  padding-top: 5px;
}
.blog-download {
  margin-top: 20px;
  background-color: #fff;
  width: 99%;
  margin-left: 1%;
  padding-bottom: 10px;
   border: 1px solid #e3e3e3;
   margin-bottom: 10px;
  min-height: 50px;
  padding-left: 5px;
  padding-top: 5px;
}
.row-header-news {
  border-bottom: 4px solid #2B6229;
  margin-bottom: 30px;
  margin-top: 26px;

}
.row-header-news h3 {
 
  color: #FFF;
  font-family: font-family: 'Kanit', serif;
  background-color: #2B6229;
  font-size: 24px;
  margin-top: -25px ;
  margin-left: -15px;
  position: absolute;
  padding: 10px;
  
}
.news-content {
  width:100%;
  border-bottom: 1px dashed #E9EBEE;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;

}
.news-content .img-responsive {
  width: 340px;
  height: 170px;
}

 
.boxmenu {
  
  padding: 5px;
  padding-top: 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color:#fff;
  border: 1px solid #e3e3e3;

  
}
.boxmenu h4 {
  padding-top: 5px;
  color: #000;
}
.boxmenu h4 a {
  color: #000;
}
ul.list-unstyled li  {
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
 
  border-bottom: 1px solid #eaeaea;
}
ul.list-unstyled li > a  {
  color: #191919;
  font-size: 14px;

  }
  .line-menu {
    height: 2px;
    background-color: #2B6229;
    position: relative;
    margin-top: -5px;
    margin-bottom: 5px;
 
     
  }
footer {
  background-color: #4C4C4C;
  padding: 20px;
  color: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h4.header-read-news {
  color: #ED0082;
  font-weight: bold;

}
 .sub-read-news {
  padding-bottom: 10px;
  font-size: 12px;
  color: #77797C;
}
.boxmenu .img-responsive {
  height: 120px;
  min-width: 250px;
  width: 100%;
}
.gallery {
  
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.addthis_sharing_toolbox {
  position: absolute;
 
  float: right;
  margin-left: 74%;
}